// @import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");  


:root {  
	--mainColor: #22487a;  
	--mainColorLight: #5767aa;  
	--secondaryColor: #ea7d29;  
	--textColor: #eee;  
}  


.nav-page-category { 
    margin-bottom: 10px;
    * {  
        margin-top: 5px;
        padding: 0;  
        box-sizing: border-box;  
        border-radius: 8px;  
        font-family: "Titillium Web", sans-serif;  
        margin-bottom: 5px;  
        background-color: #22487a;
    }  

    
    nav {  
        display: flex; 
        align-items: center;  
        margin-left: auto;  
        // margin-bottom: 10px;
        .contents
        {
            display: flex;              // Use Flexbox to arrange items  
            font-size: large;
            // flex-direction: column; 
                // Stack items vertically  
            // align-items: flex-end;
        }

        a {  
            // margin: 0 1rem; 
            margin-left: 15px; 
            // margin-right: 5px;
            color: var(--textColor);  
            text-decoration: none;
            // height:10px;
            // width:70px;  

            // &:hover {  
                &:hover {  
                    color: var(--secondaryColor);
                    text-decoration: underline; /* Add underline on hover */   
                }  
            // }  
        }  

        .nav-close-btn-category {  
            position: absolute;  
            top: 1rem;  
            right: 1rem;  
        }  

        .movepicon{
            margin-left:2px;
            margin-right: 2px;
            margin-bottom: 3px; 
            margin-top: 0px;   
            vertical-align: middle;  
            color: #ea7d29; 
            
        }
    } 
   
    .home-back-category {  
        display: flex;   
        // Remove or comment out the background-image property  
        // background-image: url(../tourspage/Assests/home.png);   
        background-size: cover; 
        background-color: #22487a;  
        background-repeat: no-repeat;  
        background-position: center;   
        position: relative;  
        flex-direction: column;   
        box-sizing: border-box;  
        
        // max-height: 105vh; /* Full viewport height */  
        width: 100%; /* Full width */  
        margin-bottom: 5px; /* Reset margins */  
        padding: 0; /* Reset padding */  
    }
    .logo-category {  
        display:contents;  
        align-items: center;  
        cursor: pointer;  
      }  
      
     
    .logo-category img {  
        width: 38px;
        margin-right: 0.6rem;  
    } 
    .primary-button {  
        position: relative;  
        padding: 0.9rem 1.75rem;  
        background-color: var(--mainColor);  
        color: white;  
        outline: none;  
        border: none;  
        border-radius: 5rem;  
        font-size: 1.1rem;  
        cursor: pointer;  
        font-weight: 600;  
        transition: background-color 0.2s, transform 0.2s;  
        
    }  

    
    header { 
        position: relative;  
        top: 20px;  
        left: 50%;  
        transform: translate(-50%, -50%);  
        display: flex;  
        align-items: center;  
        justify-content: space-between;  
        // Reduce the height value  
        height: 50px; // Adjust this value as needed  
        padding: 0 2rem; // Adjust padding if necessary  
        color: var(--textColor);  
        z-index: 1;  
        margin-top: 10px;  
        
        .nav-btn-category {  
            padding: 5px 0px; /* Adjusted padding for better spacing */  
            cursor: pointer;  
            background: transparent;  
            border: none;  
            outline: none;  
            color: var(--textColor);   
            visibility: hidden;  
            opacity: 0px; /* Changed to 0 - negative value for opacity is invalid */  
            font-size: 1rem;   
            margin-right: 0px; /* Adjust this value to control space between buttons */  
            // gap:50x;
        }  
    }  

    .linkclass
    {
       text-decoration: none;
    }
    .trip-title-category
    {
        &:hover {  
            color: var(--secondaryColor);
            text-decoration: underline; /* Add underline on hover */   
        }   
        color:white;
    }
    @media only screen and (max-width: 1024px) { 
        
        // .land-back {  
        //     height: auto; 
        //     width: 100vw;  
        //     padding: 20px;  
        // }  
        // // .logo{
        //     padding: 0.5rem; 
        //     justify-content: center;
        // }
        // .logo img{
        //     width: 32px; 
        //     margin-right: 0.4rem; 
        // }
        // .search {  
        //     &__container {   
        //         padding-top: 400px;
        //         } 
        
        //     &__input {    
        //         width: 90%; 
        //         font-size: 16px; 
        //         }  
        
        // }
        header {  
            
            .nav-btn-category {  
                visibility: visible;  
                opacity: 1;  
            }  

            nav {  
                
                position: fixed;  
                top: 0;  
                right: -100%;  
                height: 100%;   
                width: 20%;   
                display: flex;  
                flex-direction: column;  
                align-items: center;  
                justify-content: start;   
                background-color: var(--mainColor);
 
                transition: right 0.3s ease;   
                z-index: 1000;  

                .contents
                {
                    flex-direction: column; 
                    
                }

                a{
                    margin-left: 5px;
                    margin-right: 10px;
                }
                

                &.responsive_nav-category {  
                    
                    right: 0;   
                }  
            }  
        }  
        
        main { 
             
            margin-right: 30%;   
            transition: margin-right 0.3s ease;   

            &.responsive_nav + main {  
                margin-right: 0;   
            }  
        }  

        nav a {  
            
            font-size: 1rem;  
            margin-top: 1.5rem;   
        }  
    }  
   
}
