$date-picker-bg: #ffffff;   
$primary-color: #060606;  
$selected-bg-color: #ea7d29;  
$border-radius: 8px;  
$shadow: 0 4px 15px rgba(0, 0, 0, 0.2);  
$font-color: #333;  
$hover-bg-color: #f0f0f0;   

.date-range-picker {  
  // display: flex;  
  flex-direction: column;  
  align-items: center;  
  margin: 40px auto;  
  padding: 30px;  
  border-radius: $border-radius;  
  box-shadow: $shadow;  
  background-color: $date-picker-bg;  
  transition: box-shadow 0.3s ease; 
  .date-range-picker2 { 
    display: flex; 
    flex-direction: column;  
    align-items: center;  
    transition: box-shadow 0.3s ease;  
  }
  

  

  &:hover {  
    box-shadow: 0 8px 20px #22487a;   
  }  

  h2 {  
    margin-bottom: 25px;  
    font-family: 'Arial', sans-serif;  
    font-weight: 600;  
    color: $primary-color;  
    text-align: center;  
  }  

  .date-picker-container {  
    display: flex;  
    justify-content: space-between;  
    width: 100%; 
    max-width: 600px;
    
    

    .date-picker {  
      flex: 1;
      margin: 0 10px; 
     

      label {  
        margin-right: 10px; 
        font-weight: bold;  
        color: $font-color;  
        font-size: 16px;  
        
      }  

      .react-datepicker-wrapper {
          
        width: 100%;  
      }  

      .react-datepicker__input-container {  
        width: 100%;  
        
      }  

      input {  
        margin-top: 10px; 
        width: 100%;  
        padding: 10px;  
        border: 1px solid #dcdcdc;  
        border-radius: $border-radius;  
        transition: border-color 0.3s ease, background-color 0.3s ease;  

        &:focus {  
          border-color: #ea7d29;  
          outline: none;  
          box-shadow: 0 0 8px #ea7d29;  
          background-color: #fbcfab;  
        }   

        &:hover {  
          background-color: $hover-bg-color;  
        }  
      }  
    }  
  }  

  .name-picker {  
    flex: 1;
    margin-left: 30px;
    // margin: 0 10px; 
   

    label {  
      margin-right: 10px;
      font-weight: bold;  
      color: $font-color;  
      font-size: 16px;  
      
    }  

    .react-datepicker-wrapper {
        
      width: 100%;  
    }  

    .react-datepicker__input-container {  
      width: 80%;  
      
    }  

    input {  
      margin-top: 10px; 
      width: 100%;  
      padding: 10px;  
      border: 1px solid #dcdcdc;  
      border-radius: $border-radius;  
      transition: border-color 0.3s ease, background-color 0.3s ease;  

      &:focus {  
        border-color: #ea7d29;  
        outline: none;  
        box-shadow: 0 0 8px #ea7d29;  
        background-color: #fbcfab;  
      }   

      &:hover {  
        background-color: $hover-bg-color;  
      }  
    }  
  }  

  .selected-dates {  
    margin-top: 30px;  
    margin-bottom: 20px; 
   
    font-size: 20px;  
    font-weight: 600px;  
    color: $font-color;  
    text-align: left;
    .no-trips-blue {  
      color: #22487a; // Cleaner blue color  
      font-weight: bold; // Makes it bolder  
      font-size: 0.9em; // Slightly larger font for emphasis  
      margin-right: 3px;
      margin-left: 3px; // Space between blue and orange text  
    }  
    
    .no-trips-orange {  
      color: #ff6f20; // Vibrant orange for emphasis  
      text-decoration: underline;  
      font-weight: bold; // Makes the orange text bold  
      font-size: 1.1em; // Matches the blue text size for continuity  
      
    } 
    .no-trips-orange:hover {  
      
      text-decoration: none; /* Optional: removes underline on hover */
      cursor: pointer;    
    }  

    .no-trips-orange2 {  
      color: #ff6f20;
      margin-left: 0px;
      margin-right: 0px; // Vibrant orange for emphasis  
      text-decoration: underline;  
      font-weight: bold; // Makes the orange text bold  
      font-size: 0.9em; // Matches the blue text size for continuity
      
    }  
    .no-trips-blue2 {  
      color: #22487a; // Cleaner blue color  
      font-weight: bold; // Makes it bolder  
      font-size: 0.9em; // Slightly larger font for emphasis  
      margin-right: 4px;
      margin-left: 2px; // Space between blue and orange text  
    }  

    
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;

    p {  
      margin: 0;  
      font-family: 'Arial', sans-serif;  
      color: $primary-color;  
    }  
  }

  

  .tour-list-filter {  
    display: flex;  
    flex-wrap: nowrap;  // Change this to nowrap  
    overflow-x: auto; // Allow horizontal scrolling if the cards overflow  
    gap: 15px;  // Maintain spacing between cards  
  }  

  .tour-card-filter { 
    flex: 0 0 auto; 
    display: flex;  
    flex-direction: column;  
    background: white;  
    border-radius: 10px;  
    overflow: hidden;  
    width: calc(25% - 10px); // Three cards per row with gap  
    height: 300px;  
    transition: transform 0.3s, box-shadow 0.3s;  
    position: relative;  
    border: 2px solid rgba(34, 72, 122, 0.5);  

    &:hover {  
      box-shadow: 0 8px 30px rgba(34, 72, 122, 0.5);  
      transform: translateY(-5px);  
    }  

    .tour-image-container-filter {  
      position: relative;  
      height: 168px; // Fixed height for images  

      .tour-image-filter {  
        width: 100%;  
        height: 100%;  
        object-fit: cover;  
      }  

      .tour-admin-filter {  
        position: absolute;  
        top: 10px;  
        left: 10px;  
        display: flex;  
        align-items: center;  
        background-color: rgba(255, 255, 255, 0.7);  
        padding: 2px;  
        border-radius: 5px;  
        z-index: 20;  

        .admin-photo-filter {  
          width: 30px;  
          height: 30px;  
          border-radius: 50%;  
          margin-right: 5px;  
        }  
      }  
    }  

    .tour-info-filter {  
      padding: 10px;  
      display: flex;  
      flex-direction: column;  

      .tour-meta-filter3 {  
        display: flex;  
        justify-content: space-between;  
        align-items: center;  

        .tour-name-filter {  
          font-size: 1.1em;  
          font-weight: bold;  
          color: #22487a;  
        }  

        .trip-type-filter {  
          font-weight: bold;  
          margin-left: auto;  
          padding: 4px 8px;  
          border-radius: 5px;  
          display: inline-block;  

          &.budget-friendly {  
            background-color: #c8e6c9;  
            color: #388e3c;  
          }  

          &.fancy {  
            background-color: #f59e9e;  
            color: #e9362c;  
          }  
        }  
      }  

      .tour-details-filter {  
        display: flex;  
        align-items: center;  
        justify-content: space-between;  
        margin-top: 5px;  

        .tour-route-filter {  
          display: flex;  
          align-items: center;  
          flex-wrap: wrap;  

          .tour-text-filter {  
            color: #555;  
          }  
        }  
      }  

      .tour-meta-filter7 {  
        display: flex;  
        justify-content: space-between;  
        margin-top: auto; // Push to the bottom  

        .tour-dates-filter {  
          display: flex;  
          align-items: center;  

          .moveicon-filter3 {  
            margin-right: 5px;  
            color: #22487a;  
          }  
        }  

        .tour-length-filter {  
          display: flex;  
          align-items: center;  

          .moveicon-filter3 {  
            margin-right: 5px;  
            color: #22487a;  
          
          }
        }
      }
    }
   
    
    
      
        // .tour-list-container-filter {  
        //   max-width: 2000px;  
        //   margin-left: 10px;
        //   margin-right: 10px;
      
          .tour-list-filter {  
            display: flex;  
            flex-wrap: wrap;  
            // justify-content: space-between;  
            gap: 15px;  
          }  
          
          .moveicon-filter {  
            margin-left: 2px;  
            margin-right: 2px;  
            margin-bottom: 0px;  
            margin-top: 0px;   
            vertical-align: middle;   
          }  
      
          .card-image-filter {  
            width: 100%;  
            height: 100%;  
            object-fit: cover;   
          }  
      
          .card-title-filter {  
            position: absolute;   
            bottom: 0;   
            right: 0;  
            margin-bottom: 0;  
            font-size: 1rem;  
            color: #22487a;  
            background: #fff;   
            padding: 5px;  
            border-radius: 2px;  
            box-shadow: 0 2px 4px rgba(34, 72, 122, 0.5);   
          }  
      
          .tour-card-filter {  
            display: flex;  
            flex-direction: column;  
            background: white;  
            border-radius: 10px;  
            overflow: hidden;  
            width: 100%;   
            height: 700px;   
            transition: transform 0.3s, box-shadow 0.3s;  
            position: relative;  
            border: 2px solid rgba(34, 72, 122, 0.5);  
            
            &:hover {  
              animation: circular-animation 0.4s ease forwards; /* Apply circular animation on hover */  
              box-shadow: 0 8px 30px rgba(34, 72, 122, 0.5);  
            }  
          }  
      
          .tour-image-filter{  
            width: 100%;  
            height: 168px;   
            object-fit: cover;   
            position: relative;   
          }  
      
          .tour-image-container-filter {  
            position: relative;  
          }  
      
          .tour-admin-filter {  
            position: absolute;  
            top: 10px;  
            left: 10px;  
            display: flex;  
            align-items: center;  
            background-color: rgba(255, 255, 255, 0.7);  
            padding: 2px;  
            border-radius: 5px;  
            z-index: 20;  
          }  
      
          .admin-photo-filter {  
            width: 30px;  
            height: 30px;  
            border-radius: 50%;  
            margin-right: 5px;  
          }  
      
          // Hover effect on the admin photo  
          .admin-photo-filter:hover {  
            transform: scale(1.05);  
          }  
      
          // Tour Info Styles  
          .tour-info-filter {  
            display: flex;  
            flex-direction: column;  
      
            .tour-name-filter {  
              font-size: 1em;  
              font-weight: bold;  
              margin-bottom: 0px;  
              margin-top: 3px;  
              margin-left: 10px;  
              align-self: flex-start;  
              color: #22487a;    
            }  
      
            .tour-details-filter {  
              display: flex;  
              align-items: center;  
              margin-bottom: 0px;  
              margin-top: 0px;  
      
              .tour-route-filter {  
                display: flex;  
                align-items: center;  
                margin-left: 10px;   
                margin-top: 0px;   
                font-size: 0.9em;  
                margin-bottom: 10px;  
              }  
              
              .moveicon {  
                margin-left: 2px;  
                margin-right: 2px;  
                margin-bottom: 2px;  
                margin-top: 0px;   
                vertical-align: middle;  
              }  
            }  
      
            .tour-meta-filter3 {  
              display: flex;   
              align-items: center;   
              margin-top: 12px;   
              .trip-type-filter {  
                font-weight: bold;   
                margin-right: 7px;  
                margin-left: auto;  
                font-size: 1em;   
                padding: 4px 8px;   
                border-radius: 5px;   
                display: inline-block;  
              }  
              .trip-type-filter.Budget-friendly {  
                background-color: #c8e6c9;   
                color: #388e3c;  
              }  
              .trip-type-filter.Fancy {  
                background-color: #f59e9e;  
                color: #e9362c;   
              }   
            }  
      
            .tour-name {  
              font-size: 1em;  
              font-weight: bold;  
              margin-bottom: 0px;  
              margin-top: 3px;  
              margin-left: 10px;  
              align-self: flex-start;  
              color: #22487a;    
            }  
      
            .tour-meta-filter7 {  
              display: flex;  
              justify-content: space-between;  
      
              .tour-dates-filter, .tour-length-filter {  
                font-size: 0.9em;  
              }        .tour-dates-filter{  
                margin-bottom: 7px;  
                margin-left: 10px;  
                margin-top: 0px;  
                margin-right: 20px;  
              }  
      
              .tour-length-filter {  
                margin-right: 15px;  
                margin-bottom: 10px;  
                margin-top: 0px;  
              }   
              
              .moveicon-filter3 {  
                margin-left: 2px;  
                margin-right: 4px;  
                margin-bottom: 4px;  
                margin-top: 0px;   
                vertical-align: middle;   
              }  
      
              .moveicon-filter4 {  
                margin-left: 4px;  
                margin-right: 4px;  
                margin-bottom: 3px;  
                margin-top: 3px;   
                vertical-align: middle;   
              }  
            }  
      
            .tour-admin {  
              display: flex;  
              align-items: center;  
              justify-content: flex-start;  
      
              .admin-photo {   
                margin-left: 10px;  
                margin-bottom: 2px;   
                width: 25px;  
                height: 25px;  
                border-radius: 50%;  
                margin-right: 5px;  
              }  
      
              span {  
                font-weight: bold;  
              }  
            }
          }
        }
      // } 
      
      // Circular Animation Keyframes  
      @keyframes circular-animation {  
        0% {  
          transform: rotate(0deg) scale(1);  
        }  
        50% {  
          transform: rotate(15deg) scale(1.05); /* Slightly scaling and rotating*/  
        }  
        100% {  
          transform: rotate(0deg) scale(1); /* Returning to original state */  
        }  
      }
    
    
      @media (max-width: 1200px) {  
        .tour-card-filter {  
          width: calc(50% - 0px); /* Two cards per row on medium screens */  
        }  
        .tour-meta-filter7
          {
            font-size:0.9em;
          } 
      
          .tour-meta-filter3 
          {
            font-size: 0.9em;
          }
          
      }  
      
      @media (max-width: 1200px) {  
        .tour-card-filter {  
          width: calc(50% - 0px); /* Two cards per row on medium screens */  
        }  
        
        .tour-meta-filter7 {  
          font-size: 0.9em;  
        }   
        
        .tour-meta-filter3 {  
          font-size: 0.9em;  
        }  
      }  
      
      @media (max-width: 768px) {  
        .tour-card-filter {  
          width: calc(100% - 0px); /* One card per row on small screens */  
        }  
      
        .admin-photo {  
          width: 20px;  
          height: 20px;  
        }  
      
        .tour-meta-filter7 {  
          font-size: 0.8em;  
        }   
      
        .tour-name-filter,   
        .tour-meta-filter3 .trip-type-filter {  
          font-size: 0.8em;  
        }  
      }  
      
      @media (max-width: 576px) {  
        .tour-info-filter {  
          .tour-name-filter {  
            font-size: 0.8em;  
          }   
      
          .tour-meta-filter .trip-type-filter {  
            padding: 2px 6px;  
            font-size: 0.8em;  
          }  
        }  
      }
  
  .submit-button {  
    margin-top: 32px; 
    margin-left: 10px; 
    padding: 0;
    height: 35px; 
    width: 35px; 
    background: linear-gradient(135deg, #22487a, #22487a);  
    color: white;  
    border: none;  
    border-radius: 50%; 
    cursor: pointer;  
    font-size: 20px; 
    font-weight: 600;   
    display: flex;
    align-items: center; 
    justify-content: center; 
    transition: background 0.3s ease, transform 0.2s ease;   
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
  
    &:hover {  
      background: linear-gradient(135deg, #ea7d29, #ea7d29);   
      transform: translateY(-2px);   
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);  
    }  
  
    &:focus {  
      outline: none;   
      box-shadow: 0 0 0 3px rgba(234, 125, 41, 0.5);   
    }  
  }

  
}

.react-datepicker__day--selected {  
  background-color: $selected-bg-color !important;   
  color: white !important;   
  border-radius: $border-radius;   
}  

.react-datepicker__day--in-selecting-range {  
  background-color: darken($selected-bg-color, 10%) !important;  
  color: white !important;  
}  

.react-datepicker__day--outside-month {  
  color: #ccc;  
}  

.react-datepicker {  
  border: 1px solid #dcdcdc;  
  border-radius: $border-radius;  
  box-shadow: $shadow;  
}  

.react-datepicker__day:hover {  
  background-color: lighten($selected-bg-color, 50%);  
  cursor: pointer;  
}

.movecalicon {  
  margin-left:2px;
  margin-right: 2px;
  margin-bottom: 6px; 
  margin-top: 0px;   
  vertical-align: middle;   
}  


.moveiconsearch {  
  
  margin-bottom: 2px; 
  margin-left: 2px;
  transform: rotate(90deg);  
}  

.error-message {  
  color: red;  
  font-size: 14px;  
  margin-top: 2px;
  margin-left: -85px;
}
.error-message-name {  
  color: red;  
  font-size: 14px;  
  margin-top: 5px;                 
  display: flex;
  margin-left: 2px;            
}  


.react-datepicker .react-datepicker__month-dropdown,
.react-datepicker .react-datepicker__year-dropdown {
  background-color: #abc0dd;
  border: 1px solid #22487a; 
  border-radius: 5px; 
  padding: 10px; 
}

.react-datepicker .react-datepicker__month-dropdown:hover,
.react-datepicker .react-datepicker__year-dropdown:hover {
  background-color: #abc0dd;
}

.react-datepicker .react-datepicker__month-option,
.react-datepicker .react-datepicker__year-option {
  padding: 5px; 
  cursor: pointer; 
  background-color: #abc0dd;
}

.react-datepicker .react-datepicker__month-option:hover,
.react-datepicker .react-datepicker__year-option:hover {
  background-color: #e2bca0;
}





