*,*::before,*::after{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
img{
  width: 100%;

}
a{
  text-decoration: none;
}

.container {
  position: relative;
  background-color: rgb(255, 0, 140);
  max-width: 56544rem;
  width: 100px;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}
.big-wrapper
{
  padding: 1.7rem 0 2rem;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f6f6f6;
  background-image: linear-gradient(rgb(187, 220, 233), rgb(253, 253, 252),rgb(187, 220, 233));
}

header .container{
  display: flex;
  justify-content: space-between;
}
.logo img{
  width: 40px;
}