.App {  
  text-align: center;  
  // background-color: #f9f9f9;  
  padding: 2px;  

  .tour-list-container {  
    max-width: 1320px;  
    margin: 0 auto;  
    

    .tour-list {  
       
      display: flex;  
      flex-wrap: wrap;  
      justify-content: space-between;  
    } 
    
    .popular-trips-box {  
      
      
      background-color: #22487a;
      position: relative;  
      padding: 20px;
      border-radius: 8px; 
      margin-bottom: 20px; 
      
    }

    .blue-box {  
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      background-color: #22487a; 
      padding: 20px; 
      border-radius: 8px; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
      display: flex; 
      justify-content: center; 
      align-items: center; 
    }

    .category-cards {  
      display: flex;  
      flex-wrap: wrap;  
      justify-content: center;  
      gap: 40px; 
      margin-left: 125px;
      margin-right: 125px;
      
    }  

    .card {  
      width: 170px;
      height :155px; 
      position: relative;
      
      
      // background-color: #ea7d29;  
      border: 2px solid rgba(34, 72, 122, 0.5); 
      border-radius: 8px; 
      overflow: hidden; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
      display: flex;  
      flex-direction: column;  
      align-items: center;  
      justify-content: center;  
      transition: transform 0.3s;  

      &:hover {  
        transform: scale(1.05); 
      }  
    }  

    .card-image {  
      width: 100%;  
      height: 100%;  
      object-fit: cover; 
    }  

    .card-title {  
      position: absolute; /* Position it absolutely within the card */  
      bottom: 0px; /* Position from the bottom */  
      right: 0px;
      margin-bottom: 0px; /* Position from the right */  
      font-size: 1rem;  
      color: #22487a; /* Change text color to black for contrast */  
      background: #fff; /* Set background to white */  
      padding: 5px 5px; /* Add some padding for aesthetics */  
      border-radius: 2px; /* Rounded corners for the title background */  
      box-shadow: 0 2px 4px rgba(34, 72, 122, 0.5); /* Optional: add shadow for better visibility */  
  }  

    .tour-card {  
      display: flex;  
      flex-direction: column;  
      background: white;  
      border-radius: 10px;  
      overflow: hidden;  
      margin: 0 15px;  
      width: 220px;   
      transition: transform 0.3s;  
      position: relative;  
      border: 2px solid rgba(34, 72, 122, 0.5);  
  
      &:hover {  
          transform: scale(1.04);   
          box-shadow: 0 8px 30px rgba(34, 72, 122, 0.5);  
      }  
  }  
  
  .tour-image {  
      width: 100%;  
      height: 150px;   
      object-fit: cover; 
      position: relative; 
  }  

  .tour-image-container {  
    position: relative;  
}  

    .tour-type-mark {  
        position: absolute;  
        bottom: 10px;  
        right: 10px;  
        background-color: rgba(255, 255, 255, 0.8);    
        padding: 5px 10px;  
        border-radius: 5px;  
        font-size: 0.85em;  
        font-weight: bold;  
        display: flex;  
        align-items: center;  
        z-index: 10;
    }  

    
    .tour-type-mark.fancy {  
        background-color: #f59e9e;
        color: #e9362c;   
    }  

    .tour-type-mark.economical {  
        background-color: #c8e6c9; 
        color: #388e3c; 
    }  


  
  .tour-info {  
      
      display: flex;  
      flex-direction: column;  
  
      .tour-name {  
          font-size: 1em;  
          font-weight: bold;  
          margin-bottom: 0px;  
          margin-top: 3px;
          margin-left: 10px;
          align-self: flex-start;
          color: #22487a;    
      }  
  
      .tour-details {  
          display: flex;  
         
          align-items: center;  
          margin-bottom: 0px;  
          margin-top: 0px;
          
          
  
          .tour-route { 
            margin-left: 10px; 
            margin-top: 0px; 
              font-size: 0.9em;
              margin-bottom: 5px;  
          }  
      }  

      .tour-type {  
        display: inline-block;  
        margin-top: 5px;  
        padding: 4px;  
        border-radius: 5px;  
        font-weight: bold;  
        text-transform: capitalize;  
      }  

      
      
  
      .tour-meta {  
          display: flex;  
          justify-content: space-between;  
          
  
          .tour-date, .tour-length {
              
              font-size: 0.9em;  
          }
         
      
          .tour-dates {  
              margin-bottom: 5px;
              margin-left: 10px;
              margin-top:0px;
          }  
      
          .tour-length {  
               margin-right: 15px;
              margin-bottom: 10px;
              margin-top:0px;  
        }  
      }  
  
      .tour-admin {  
          display: flex;  
          align-items: center;  
          justify-content: flex-start;  
  
          .admin-photo { 
            margin-left: 10px;
            margin-bottom: 2px; 
              width: 25px;  
              height: 25px;  
              border-radius: 50%;  
              margin-right: 5px;  
          }  
  
          span {  
              font-weight: bold;  
          }  
      }  
  
    }  

 
    .slick-track {
      display: flex;
      gap: 1rem;
  }
    .slick-prev,
  .slick-next
  {
      font-size: 0;
      line-height: 0;

      position: absolute;
      top: 50%;

      display: block;

      width: 20px;
      height: 20px;
      padding: 0;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);

      cursor: pointer;

      color: transparent;
      border: none;
      outline: none;
      background: transparent;
  }
  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus
  {
      color: transparent;
      outline: none;
      background: transparent;
  }
  .slick-prev:hover:before,
  .slick-prev:focus:before,
  .slick-next:hover:before,
  .slick-next:focus:before
  {
      opacity: 1;
  }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before
  {
      opacity: .25;
  }

  .slick-prev:before,
  .slick-next:before
  {
      font-family: 'slick';
      font-size: 20px;
      line-height: 1;

      opacity: .75;
      color: rgba(34, 72, 122, 0.5);

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }

  .slick-prev
  {
      left: -20px;
  }
  [dir='rtl'] .slick-prev
  {
      right: -25px;
      left: auto;
  }
  .slick-prev:before
  {
      content: '←';
  }
  [dir='rtl'] .slick-prev:before
  {
      content: '→';
  }

  .slick-next
  {
      right: -20px;
  }
  [dir='rtl'] .slick-next
  {
      right: auto;
      left: -25px;
  }
  .slick-next:before
  {
      content: '→';
  }
  [dir='rtl'] .slick-next:before
  {
      content: '←';
  }

  
    
        
     
  }  
}