.app-container-spring {  
  display: flex;  
  flex-direction: column;  
  min-height: 100vh;   
}  

.spring {  
  text-align: center;  
  padding: 2px;  
  flex: 1; 
  .tour-list-container-spring {  
    max-width: 2000px;  
    margin-left: 10px;
    margin-right: 10px; 

    .tour-list-spring {  
      display: flex;  
      flex-wrap: wrap;  
      // justify-content: space-between;  
      gap: 15px;  
    }  
    
    .moveicon-spring {  
      margin-left: 2px;  
      margin-right: 2px;  
      margin-bottom: 0;  
      margin-top: 0;   
      vertical-align: middle;   
    }  

    .card-image-spring {  
      width: 100%;  
      height: 100%;  
      object-fit: cover;   
    }  

    .card-title-spring {  
      position: absolute;   
      bottom: 0;   
      right: 0;  
      margin-bottom: 0;  
      font-size: 1rem;  
      color: #22487a;  
      background: #fff;   
      padding: 5px;  
      border-radius: 2px;  
      box-shadow: 0 2px 4px rgba(34, 72, 122, 0.5);   
    }  

    .tour-card-spring {
      text-decoration: none;
      display: flex;   
      flex-wrap: wrap;   
      display: flex;  
      flex-direction: column;  
      background: white;  
      border-radius: 10px;  
      overflow: hidden;  
      width: calc(32.7% - 2px);; /* Three cards per row with consistent gap */  
      height: 300px;   
      transition: transform 0.3s, box-shadow 0.3s;  
      position: relative;  
      border: 2px solid rgba(34, 72, 122, 0.5);  
     
      &:hover {  
        animation: circular-animation 0.4s ease forwards;  
        box-shadow: 0 8px 30px rgba(34, 72, 122, 0.5);  
      }  
    }  

    .tour-image-spring {  
      width: 100%;  
      height: 168px;   
      object-fit: cover;   
      position: relative;   
    }  

    .tour-image-container-spring {  
      position: relative;  
    }  

    .tour-admin-spring {  
      position: absolute;  
      top: 10px;  
      left: 10px;  
      display: flex;  
      align-items: center;  
      background-color: rgba(255, 255, 255, 0.7);  
      padding: 2px;  
      border-radius: 5px;  
      z-index: 20;  
      color: black;
    }  

    .admin-photo-spring {  
      width: 30px;  
      height: 30px;  
      border-radius: 50%;  
      margin-right: 5px;  
    }  

    .admin-photo:hover {  
      transform: scale(1.05);  
    }  

    .tour-info-spring { 
      color: black; 
      display: flex;  
      flex-direction: column;  

      .tour-name-spring {  
        font-size: 1em;  
        font-weight: bold;  
        margin-bottom: 0;  
        margin-top: 3px;  
        margin-left: 10px;  
        align-self: flex-start;  
        color: #22487a;    
      }  

      .tour-details-spring {  
        display: flex;  
        align-items: center;  
        margin-bottom: 0;  
        margin-top: 0;  

        .tour-route-spring {  
          display: flex;  
          align-items: center;  
          margin-left: 10px;   
          margin-top: 0;   
          font-size: 0.9em;  
          margin-bottom: 10px;  
        }  
        
        .moveicon {  
          margin-left: 2px;  
          margin-right: 2px;  
          margin-bottom: 2px;  
          margin-top: 0;   
          vertical-align: middle;   
        }  
      }  

      .tour-meta-spring3 {  
        display: flex;   
        align-items: center;   
        margin-top: 12px;   
        .trip-type-spring {  
          font-weight: bold;   
          margin-right: 7px;  
          margin-left: auto;  
          font-size: 1em;   
          padding: 4px 8px;   
          border-radius: 5px;   
          display: inline-block;  
        }  
        .trip-type-spring.Budget-friendly {  
          background-color: #c8e6c9;   
          color: #388e3c;  
        }  
        .trip-type-spring.Fancy {  
          background-color: #f59e9e;  
          color: #e9362c;   
        }   
      }  

      .tour-name {  
        font-size: 1em;  
        font-weight: bold;  
        margin-bottom: 0;  
        margin-top: 3px;  
        margin-left: 10px;  
        align-self: flex-start;  
        color: #22487a;    
      }  

      .tour-meta-spring7 {  
        display: flex;  
        justify-content: space-between;  

        .tour-dates-spring, .tour-length-spring {  
          font-size: 0.9em;  
        }        
        .tour-dates-spring {  
          margin-bottom: 7px;  
          margin-left: 10px;  
          margin-top: 0;  
          margin-right: 20px;  
        }  

        .tour-length-spring {  
          margin-right: 15px;  
          margin-bottom: 10px;  
          margin-top: 0;  
        }   
        
        
        .moveicon-spring3 {  
          margin-left: 2px;  
          margin-right: 4px;  
          margin-bottom: 4px;  
          margin-top: 0px;   
          vertical-align: middle;   
        }  

        .moveicon-spring4 {  
          margin-left: 4px;  
          margin-right: 4px;  
          margin-bottom: 3px;  
          margin-top: 3px;   
          vertical-align: middle;   
        }  
      }  

      .tour-admin {  
        display: flex;  
        align-items: center;  
        justify-content: flex-start;  

        .admin-photo {   
          margin-left: 10px;  
          margin-bottom: 2px;   
          width: 25px;  
          height: 25px;  
          border-radius: 50%;  
          margin-right: 5px;  
        }  

        span {  
          font-weight: bold;  
        }  
      }  
    }  
  }  
}  

// Circular Animation Keyframes  
@keyframes circular-animation {  
  0% {  
    transform: rotate(0deg) scale(1);  
  }  
  50% {  
    transform: rotate(15deg) scale(1.05); /* Slightly scaling and rotating*/  
  }  
  100% {  
    transform: rotate(0deg) scale(1); /* Returning to original state */  
  }  
}  

// Responsive Design Adjustments  
@media (max-width: 1200px) {  
  .tour-card-spring {  
    width: calc(50% - 0px); /* Two cards per row on medium screens */  
  }  
  .tour-meta-spring7
    {
      font-size:0.9em;
    } 

    .tour-meta-spring3 
    {
      font-size: 0.9em;
    }
    
}  

@media (max-width: 1200px) {  
  .tour-card-spring {  
    width: calc(50% - 0px); /* Two cards per row on medium screens */  
  }  
  
  .tour-meta-spring7 {  
    font-size: 0.9em;  
  }   
  
  .tour-meta-spring3 {  
    font-size: 0.9em;  
  }  
}  

@media (max-width: 768px) {  
  .tour-card-spring {  
    width: calc(100% - 0px); /* One card per row on small screens */  
  }  

  .admin-photo {  
    width: 20px;  
    height: 20px;  
  }  

  .tour-meta-spring7 {  
    font-size: 0.8em;  
  }   

  .tour-name-spring,   
  .tour-meta-spring3 .trip-type-spring {  
    font-size: 0.8em;  
  }  
}  

@media (max-width: 576px) {  
  .tour-info-spring {  
    .tour-name-spring {  
      font-size: 0.8em;  
    }   

    .tour-meta-spring3 .trip-type-spring {  
      padding: 2px 6px;  
      font-size: 0.8em;  
    }  
  }  
}