:root {  
    --mainColor: #22487a;  
    --mainColorLight: #5767aa;  
    --secondaryColor: #ea7d29;  
    --textColor: #eee;  
    --font-family: OpenSans;  
}  

.w3-container-b {  
    display: flex; /* Use flex to allow sidebar and content to sit side by side */  
    padding: 16px;  
    font-family: 'Arial', sans-serif;  
    background-color: #f9f9f9;  
    border-radius: 8px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}  

.sidebar-b {  
    width: 250px; /* Increased width for the sidebar */  
    background-color: #ddd; /* Set sidebar background to main color */ 
    padding: 20px; /* Add padding for better spacing */  
    border-radius: 8px; /* Rounded corners for the sidebar */  
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Add shadow for depth */  
}  

.content-b {  
    flex: 1; /* Allow content to fill the remaining space */  
    padding: 20px; /* Add padding for nice spacing */ 
}  

.tablink-b {  
    display: block; /* Make each tab a block element */  
    cursor: pointer;  
    text-align: left;  
    padding: 12px; /* Vertical padding */  
    background-color: transparent; /* Transparent to let sidebar color show through */  
    color: #22487a; /* Change text color to white */  
    font-weight: bold; /* Make text bold */  
    border:2px #22487a; /* Remove border for cleaner look */  
    border-radius: 4px; /* Rounded corners for tabs */  
    transition: background-color 0.3s, color 0.3s;  
    margin-bottom: 8px; /* Space between tabs */  
}  

.tablink-b:hover {  
    background-color: #fff; /* Lighter hover effect to maintain visibility */  
    color: #22487a;
}  

.w3-border-red-b {  
    border-left: 4px solid rgb(234, 110, 12); /* Add a left border for active tab */  
    background-color: rgba(255, 255, 255, 0.1); /* Slightly different background for active tab */  
}  

.balance-list-b {  
    padding: 20px;  
    border: 1px solid #ddd;  
    border-radius: 12px;  
    background-color: #22487a;  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  

    h2 {  
        color: var(--mainColor);  
        margin-bottom: 15px;  
        font-weight: bold;  
    }  

    .balance-item {  
        font-size: 20px;  
        display: flex;  
        justify-content: space-between;  
        align-items: center;  
        padding: 15px;  
        margin: 10px 0;  
        border: 1px solid #ececec;  
        border-radius: 8px;  
        background-color: #f7f7f7;  
        transition: background-color 0.3s;  

        &:hover {  
            background-color: #f0f0f0;  
        }  
    }  

    button {  
        padding: 8px 12px;  
        font-size: 14px;  
        font-weight: bold;  
        background-color: var(--mainColor);  
        color: white;  
        border: none;  
        border-radius: 4px;  
        cursor: pointer;  
        transition: background-color 0.3s;  

        &:hover {  
            background-color: var(--secondaryColor);  
        }  
    }  

    p {  
        margin: 0;  
    }  
}