:root {  
    --mainColor: #22487a;  
    --mainColorLight: #5767aa;  
    --secondaryColor: #ea7d29;  
    --textColor: #eee;  
    --font-family :OpenSans;
  }  
  
.forgot {  
    display: flex;   
    flex-direction: column;                // Enables Flexbox layout  
    justify-content: center;       // Center horizontally  
    align-items: center;           // Center vertically  
    height: 100vh;  

    .box {  
        display: flex;
        flex-direction: column;
        // align-items: center;  
        width: 600px;  
        height: 600px;
        justify-content: start;
        border: 1px solid var(--textColor);  
        padding: 20px;  
        position: relative;
        //   margin: 20px;  
        box-shadow: var(--mainColor) 0px 30px 60px -12px inset, var(--mainColor) 0px 18px 36px -18px inset; 
        
    }  
    .title-forgots { 
        display: flex; 
        align-items: center;  
        margin-bottom: 5px;  
        flex-direction: row; 
        text-align: center; 
        // color: rgb(72, 0, 255); // Use variable for consistent color 
        // font-size: large; 
        margin-top: -10px;

    }  

    .key{  
        color:var(--mainColor); // Use variable for consistent color  
        font-size: 50px;  
        font-weight: 500;
        // opacity: 1;
        display: inline-block;  
        letter-spacing: -.3vw;  
        transition: transform 0.2s;  

        &:nth-child(1) { animation: pressDown1 2s infinite; }  
        &:nth-child(2) { animation: pressDown2 3s infinite; }  
        &:nth-child(3) { animation: pressDown3 4s infinite; }  
        &:nth-child(4) { animation: pressDown4 2.5s infinite; }  
        &:nth-child(5) { animation: pressDown5 2.5s infinite; }  
        &:nth-child(6) { animation: pressDown6 3.5s infinite; }  
        &:nth-child(7) { animation: pressDown7 2.2s infinite; }  
        &:nth-child(8) { animation: pressDown8 3.2s infinite; }  
    }  
    .title-forgot1{
    
        margin-top: 10px;
        line-height: 1.2;
        align-items: center;
        text-align: center;
        // align-self: flex-start;
        color:var(--mainColorLight);
        font-size: 30px;
        font-weight: 500;
        letter-spacing: clamp(-1.75px, -0.25vw, -3.5px);  
    
    }
    .title-forgot2{
    
        margin-top: 20px;
        line-height: 30px;
        align-items: center;
        text-align: center;
        // font-family: var(--font-family);
        // align-self: flex-start;
        position: relative;
        color:var(--mainColorLight);
        font-size: 22px;
        font-weight: 380;
        letter-spacing: clamp(-1.75px, -0.25vw, -3.5px);  
    
    }
    
    .container-forgot {  
      border: 0;
      margin-top: 50px;
      margin-left: 20px;
      display: inline-flex;
      padding: 0;
      position: relative;
      min-width: 0;
      flex-direction: column;
      vertical-align: top; 
      width: 500px;
      height: auto;
      .error-message { 
        display: flex;
        border: 1px  ; 
        background-color: #ffe4e4;
        height:70px;
        margin-top: 5px; // Spacing above the error message  
        font-size: 15px; // Error message text size  
        color: rgb(0, 0, 0); // Error message color 
        align-items: center;
        // text-align: center; 
        border-radius: 10px;
        margin-bottom: 20px;

        animation: showError 0.5s ease-in-out; /* Apply the animation here */  
      }  
      
      @keyframes showError {  
          0% {  
              transform: translateY(-10px); /* Start slightly above */  
              opacity: 0; /* Start fully transparent */  
          }  
          50% {  
              transform: translateY(5px); /* Slightly down for a bounce effect */  
              opacity: 1; /* Fade in */  
          }  
          100% {  
              transform: translateY(0); /* Settle in */  
              opacity: 1; /* Fully opaque */  
          }  
      }
      .moveaicon-forgot{
        margin-left:8px;
        margin-right: 6px;
        margin-bottom: 3px; 
        margin-top: 2px;   
        font-size: 25px;
        // font-weight: ;
        vertical-align: middle;  
        color: red; 
        
    }
    
    }
    .email-text
    {
      color:var(--mainColor);
      padding: 0;
      font-size: 20px;
      font-family: var(--font-family);
      font-weight:200;
      line-height: 1;
      letter-spacing: 0;
    }
    .input-box-forgot {  
      cursor: text;  
      display: inline-flex;  
      position: relative;  
      font-size: 20px; // Text size inside the input  
      box-sizing: border-box;  
      align-items: center;  
      font-family: var(--font-family);  
      font-weight: 300;  
      line-height: 1.1876em;  
      letter-spacing: 0;  
      border: 1px solid var(--mainColor);  
      height: 60px; // Increased height for a larger input box  
      margin-top: 10px;  
      width: 100%; 
      padding: 15px; 
      border-radius: 7px; 
      &.error {  
        border-color: red; // Change border color to red on error  
      } 
    }  
    
    .input-box-forgot .input-forgot {  
      width: 100%;
      border: none;
      outline: none; 
      font-size: inherit; 
      height: 100%; 
    }  
    .button-forgot{
      background-color: var(--mainColor); /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      font-weight: 400;
      margin-top: 25px;
      border-radius: 7px;
      width: 100%;
      &:hover
      {
        background-color:var(--secondaryColor);  
        transform: translateX(-5px -5px);
        // transform: translateX(-50%);   

      }
    }
    .container-forgot2{
      // align-items: center;
      // flex-direction: row;
      border: 0;
      margin-top: 80px;
      display: flex;
      align-items: center;
      gap: 5px;
      justify-content: center;
      
      
    }
    .back-text
    {
      // margin-top:50 px;
      // align-items: center;
      text-align: center;
      color:black;
      // padding: 0;
      font-size: 20px;
      font-family: var(--font-family);
      font-weight:200;
      line-height: 1;
      letter-spacing: 0;
    }
    .login-link {  
      color: black; /* Default link color */  
      font-size: 20px;  
      font-family: var(--font-family);  
      font-weight: 400;  
      text-decoration: none; /* Removes underline by default */  
      position: relative; /* For the hover effect */  
      transition: color 0.3s; /* Smooth transition for color */  
      
      &::after {  
          content: '';  
          display: block;  
          width: 0;  
          height: 2px;
          background:var(--secondaryColor) ;
          transition: width 0.3s;  
          position: absolute;  
          bottom: -5px; 
          left: 50%;  
          transform: translateX(-50%); 
      }  
  
      &:hover {  
          color: var(--secondaryColor); /* Change text color on hover */  
      }  
  
      &:hover::after {  
          width: 100%; /* Extend underline on hover */  
      }  
  
  } 
    
}  
  
  @keyframes pressDown1 {
    30%,
    40%,
    100% {
      transform: translateY(0);
    }
    35% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown2 {
    70%,
    80%,
    100% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown3 {
    30%,
    40%,
    100% {
      transform: translateY(0);
    }
    35% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown4 {
    40%,
    50%,
    100% {
      transform: translateY(0);
    }
    45% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown5 {
    20%,
    30%,
    100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown6 {
    60%,
    70%,
    100% {
      transform: translateY(0);
    }
    65% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown7 {
    10%,
    20%,
    100% {
      transform: translateY(0);
    }
    15% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown8 {
    35%,
    45%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(10px);
    }
  }