:root {  
    --mainColor: #22487a;  
    --mainColorLight: #5767aa;  
    --secondaryColor: #ea7d29;  
    --textColor: #eee;  
    --font-family :OpenSans;
  }  
  
.send-email {  
    display: flex;   
    flex-direction: column;                // Enables Flexbox layout  
    justify-content: center;       // Center horizontally  
    align-items: center;           // Center vertically  
    height: 100vh;  

    .box-send-email {  
        display: flex;
        flex-direction: column;
        // align-items: center;  
        width: 600px;  
        height: 600px;
        justify-content: start;
        border: 1px solid var(--textColor);  
        padding: 20px;  
        position: relative;
        //   margin: 20px;  
        box-shadow: var(--mainColor) 0px 30px 60px -12px inset, var(--mainColor) 0px 18px 36px -18px inset; 
        
    }  
    .title-send-email { 
        display: flex; 
        align-items: center;  
        margin-bottom: 5px;  
        flex-direction: row; 
        text-align: left; 
        // color: rgb(72, 0, 255); // Use variable for consistent color 
        // font-size: large; 
        margin-top: -10px;

    }  

    .key-email{  
        color:var(--mainColor); // Use variable for consistent color  
        font-size: 50px;  
        font-weight: 500;
        // opacity: 1;
        display: inline-block;  
        letter-spacing: -.3vw;  
        transition: transform 0.2s;  

        &:nth-child(1) { animation: pressDown-email1 2s infinite; }  
        &:nth-child(2) { animation: pressDown-email2 3s infinite; }  
        &:nth-child(3) { animation: pressDown-email3 4s infinite; }  
        &:nth-child(4) { animation: pressDown-email4 2.5s infinite; }  
        &:nth-child(5) { animation: pressDown-email5 2.5s infinite; }  
        &:nth-child(6) { animation: pressDown-email6 3.5s infinite; }  
        &:nth-child(7) { animation: pressDown-email7 2.2s infinite; }  
        &:nth-child(8) { animation: pressDown-email8 3.2s infinite; }  
    }  
    
    .back-link {  
      margin-top: 5px;
      color: var(--mainColor); /* Default link color */  
      font-size: 20px;  
      font-family: var(--font-family);  
      font-weight: 400; 
      text-align: left; 
      text-decoration: none; /* Removes underline by default */  
      position: absolute; /* For the hover effect */  
      transition: color 0.3s; /* Smooth transition for color */  
      
      &::after {  
          content: '';  
          display: block;  
          width: 0;  
          height: 2px;
          background:var(--secondaryColor) ;
          transition: width 0.3s;  
          position: absolute;  
          bottom: -5px; 
          left: 50%;  
          transform: translateX(-50%); 
      }  
  
      &:hover {  
          color: var(--secondaryColor); /* Change text color on hover */  
      }  
  
      &:hover::after {  
          width: 100%; /* Extend underline on hover */  
      }  
  
  } 
  .title-forgot-email { 
    // display: flex; 
    margin-top: 5px;
    line-height: 1.2;
    align-items: center;
    text-align: center;
    // align-self: flex-start;
    color:var(--mainColorLight);
    font-size: 30px;
    font-weight: 500;
    letter-spacing: clamp(-1.75px, -0.25vw, -3.5px);

  }
  .sent-image-container
  {
    background-image: url(./Assests/sent1.png);  
    margin-top: 40px;  
    // color: #ea7d29;  
    height: 120px; // Set a height according to image dimensions  
    width: 120px; // Ensure it takes full width  
    background-size: contain; // Cover the container  
    background-repeat: no-repeat; // Prevent the image from repeating  
    display: flex; // Optional: Use flexbox for centering text if needed  
    background-position: center;
    justify-content: center; // Center horizontally  
    align-items: center; // Center vertically  
    margin-left: auto;
    margin-right: auto;
    // margin-left: 50px;
  }
  .title-forgot-email1 { 
    // display: flex; 
    margin-top: 30px;
    line-height: 1.2;
    align-items: center;
    text-align: center;
    // align-self: flex-start;
    color:var(--mainColor);
    font-size: 30px;
    font-weight: 500;
    letter-spacing: clamp(-1.75px, -0.25vw, -3.5px);

  }
  .title-forgot-email2 { 
    // display: flex; 
    margin-top: 30px;
    line-height: 1.2;
    align-items: center;
    text-align: center;
    // align-self: flex-start;
    color:var(--mainColorLight);
    font-size: 28px;
    font-weight: 200;
    letter-spacing: clamp(-1.75px, -0.25vw, -3.5px);

  }
  .button-send-email{
    background-color: var(--mainColor); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    margin-top: 45px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    &:hover
    {
      background-color:var(--secondaryColor);  
      transform: translateX(-5px -5px);
      // transform: translateX(-50%);   

    }
  }
}  
  
  @keyframes pressDown-email1 {
    30%,
    40%,
    100% {
      transform: translateY(0);
    }
    35% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown-email2 {
    70%,
    80%,
    100% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown-email3 {
    30%,
    40%,
    100% {
      transform: translateY(0);
    }
    35% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown-email4 {
    40%,
    50%,
    100% {
      transform: translateY(0);
    }
    45% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown-email5 {
    20%,
    30%,
    100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown-email6 {
    60%,
    70%,
    100% {
      transform: translateY(0);
    }
    65% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown-email7 {
    10%,
    20%,
    100% {
      transform: translateY(0);
    }
    15% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown-email8 {
    35%,
    45%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(10px);
    }
  }